<ons-carousel-item class="onboarding-item-outer">
 <div class="onboarding-item-inner">
	
	<!--<ons-list id="onboarding-{{name}}-options">-->
  
  				 
	 
		<div class="header-logo"></div>
		<div class="header-title primary-text-color logo-header font-4 xxxlarge-font">Respect For All</div>

		<div class="image-outer quartiary-background">
			<!-- INNER COLOR -->
			<div class="image-inner-1">
			<!-- INNER IMAGE -->
				<div class="image-inner-2 onboarding-image {{img}}"></div>

			</div>
			<div class="onboarding-header white-text-color font-4">{{header}}</div>
		</div>

		<div class="onboarding-body quartiary-background">
			
			<div class="onboarding-subheader primary-text-color font-3 xlarge-font">{{subheader}}</div>
		
		
		</div>
		
		<div class="onboarding-detail quartiary-background primary-text-color large-font font-1">
			<div class="onboarding-detail-inner">
				{{detail}}
			</div>
		</div>
		
		<div class="progress-body">
			<div class="progress-dot"></div>
			<div class="progress-dot"></div>
			<div class="progress-dot"></div>
		
		</div>


  
  	<!--</ons-list>-->

  </div>
  
  <!--
  <ons-button modifier="quiet" class="onboarding-prev-option">Previous</ons-button>
  {{#if endButton}}
   <ons-button modifier="quiet" class="onboarding-close">Close</ons-button>
   {{/if}}
   -->
</ons-carousel-item>
	 
	 
	 
