<ons-list-item>

	  <div class="center">
	    <div class="list-item-distance">{{distance}} miles</div>
		<span class="list-item__title"><div class="list-item-counter">{{counter}}</div>{{name}}</span>
		<span class="list-item__subtitle">{{phone1}}</span>
		<span class="list-item__subtitle">{{phone2}}</span>
		<span class="list-item__subtitle">{{url}}</span>
	  </div>

</ons-list-item>
