
  <div class="title xxlarge-font font-4">{{title}}</div>
   <div class="large-font font-2">Nearby ({{nearby}})</div>
   <ons-card>
   
   	<ons-list class="resource-list">
		
		{{{firstSet}}}
		{{#if isMoreSet}}
			<ons-list-item expandable id="res-nearby">
			 <div class="top list-header-2">Show all {{nearby}}</div>
			  <div class="expandable-content">
				<ons-list>{{{moreSet}}}</ons-list>
			  </div>
			</ons-list-item>
		{{/if}}
	</ons-list> 
   	
   </ons-card>
   
 
 
 
 <div class="large-font font-2">Further Away ({{other}})</div> 
 <ons-card>
 

  	{{#if isOtherFirstSet}}
  		<ons-list class="resource-list">
  		{{{otherFirstSet}}}
		  {{#if isOtherSet}}
				<ons-list-item expandable id="res-other">
				  <div class="top list-header-2">Show all {{other}}</div>
				  <div class="expandable-content">
					<ons-list>{{{otherSet}}}</ons-list>
				  </div>
				</ons-list-item>
		  {{/if}}
		</ons-list>
    {{/if}}
 </ons-card>